*{
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif
}
body {
  background-color: white;
}
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #ababab;
  border-radius: 20px;
  outline: 1px solid rgb(203, 225, 247);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ant-layout-sider{
  background-color: white! important;
}